@use 'sass:math';
@import './styles/mixins';

// Container ======================================================================================================================================================================================================================
[class*='__container'],
[class*='_container'] {
	max-width: toRem($containerWidth);
	margin: 0 auto;
	padding: 0 toRem(math.div($containerPadding, 2));
}

body {
	font-family: var(--causten);
	color: var(--main-color);
	&:has(.menu-open) {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}

#root {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;

	@media (max-width: toEm(540)) {
		padding-bottom: toRem(75);
	}
}

#root > main {
	flex-grow: 1;
}

.message-block {
	text-align: center;
	color: var(--dark-color);
	font-weight: 600;
	font-size: toRem(22);
	display: flex;
	justify-content: center;
	@include adaptiveValue('font-size', 22, 18);
	@include adaptiveValue('padding-top', 140, 40);
}
