@import '../../styles/mixins';

.form {
	flex-basis: 21.532258%;
	position: relative;
	z-index: 4;
	flex-grow: 1;
	border-radius: toRem(8);
	background-color: var(--lite-color);
	position: relative;
	padding-left: toRem(44);
	display: flex;
	align-items: center;

	@media (max-width: toEm(767.98)) {
		flex-grow: 1;
	}
}
.input {
	padding-right: toRem(15);
	padding-left: toRem(5);
	height: toRem(44);
	color: var(--dark-color);
	background-color: transparent;

	&::placeholder {
		color: var(--main-color);
		transition: opacity 0.3s;
	}
	&:focus {
		&::placeholder {
			opacity: 0;
		}
	}
}
.button {
	position: absolute;
	left: 0;
	top: 0;
	width: toRem(44);
	height: toRem(44);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: color 0.3s;

	@media (any-hover: hover) {
		&:hover {
			color: var(--purple-color);
		}
	}
	svg {
		width: toRem(20);
		height: toRem(20);
	}
}

.close {
	padding: toRem(5);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: color 0.2s;
	@media (any-hover: hover) {
		&:hover {
			color: var(--purple-color);
		}
	}
}
