@import '../../styles/mixins';

.select {
	position: relative;
	width: auto;
	user-select: none;
	font-weight: 500;
	line-height: 1.2;
	font-size: toRem(16);
}

.selectHeader {
	padding: toRem(5) toRem(10);
	border: toRem(1) solid #bebcbd;
	border-radius: toRem(5);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: toRem(10);
	background: white;
	color: var(--dark-color);
	cursor: pointer;

	svg {
		flex-shrink: 0;
	}
}

.selectList {
	position: absolute;
	top: 0%;
	left: 0;
	width: 100%;
	border: toRem(1) solid #bebcbd;
	border-radius: toRem(5);
	background: white;
	overflow-y: auto;
	z-index: 1000;
}

.selectItem {
	padding: toRem(5);
	cursor: pointer;
	color: var(--main-color);
	display: flex;
	align-items: center;
	gap: toRem(10);
}

.selectItem:hover {
	background: #f0f0f0;
}

.selected {
	background-color: #e0e0e0;
}

.colorIcon {
	width: toRem(18);
	aspect-ratio: 1;
	border-radius: 50%;
	border: toRem(1) solid var(--main-color);
}
