@import '../../../../styles/mixins';

.label {
	color: #8a8989;
	font-weight: 600;
	line-height: 118.75%; /* 19/16 */
	display: flex;
	justify-content: space-between;
	gap: toRem(10);
	transition: all 0.3s;
	cursor: pointer;

	&.active {
		color: var(--purple-color);
	}
	@media (any-hover: hover) {
		&:hover {
			color: #000;
		}
	}

	svg {
		transform: rotate(90deg);
	}

	&:has(input:focus-visible) {
		outline: toRem(2) solid #000;
		border-radius: toRem(2);
	}
	&:has(input:checked) {
		color: var(--purple-color);
	}
	@media (any-hover: hover) {
		&:hover {
			color: var(--purple-color);
		}
	}
}

.input {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
}
