@import '../../styles/mixins';

.item {
	position: relative;
	flex: 0 0 toRem(22);
	height: toRem(22);
	border-radius: 50%;

	&:has(input:checked) {
		& span {
			transform: scale(1.3);
		}
	}
	& span {
		transition: all 0.3s;
		content: '';
		border-radius: 50%;
		position: absolute;
		width: 100%;
		height: 100%;
		transform: scale(0.9);
		border: toRem(1) solid;
	}
}
.input {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
	z-index: 2;
}
