@import '../../styles/mixins';

.wrapper {
	display: grid;
	gap: toRem(10);
}

.label {
	color: var(--dark-color);
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: toRem(0.36);
	font-size: toRem(18);
}
.items {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: toRem(15);
}
