@import '../../styles/mixins';

.button {
	font-family: 'Causten';
	background-color: var(--purple-color);
	padding: toRem(10) toRem(20);
	min-height: toRem(42);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: toRem(12);
	font-size: toRem(18);
	font-weight: 500;
	color: #fff;
	line-height: 1.22222222;
	text-align: center;
	border-radius: toRem(8);
	transition: all 0.3s;

	@media (any-hover: hover) {
		&:hover {
			background-color: #6620c1;
			box-shadow: 0 toRem(3) toRem(4) 0 rgba(0, 0, 0, 0.1);
		}
		&:focus {
			background-color: #6620c1;
		}
		&:disabled {
			background-color: #eaeaea;
			cursor: default;
			color: #807d7e;
		}
	}
	.spinner {
		animation: spin 1s linear infinite;
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
	&--border {
		color: var(--dark-color);
		background-color: transparent;
		border: toRem(1) solid #bebcbd;
		@media (any-hover: hover) {
			&:hover {
				color: var(--purple-color);
				background-color: #fff;
				box-shadow: none;
			}
			&:focus {
				background-color: #fff;
				color: var(--purple-color);
				border: toRem(1) solid var(--purple-color);
			}
			&:disabled {
				background-color: #eaeaea;
				cursor: default;
				color: #807d7e;
			}
		}
	}
}
.buttonWhite {
	background-color: #fff;
	color: var(--dark-color);
	@media (any-hover: hover) {
		&:hover {
			color: #fff;
			background-color: var(--purple-color);
		}
		&:focus {
			color: #fff;
			background-color: var(--purple-color);
			box-shadow: none;
		}
		&:disabled {
			background-color: #eaeaea;
			cursor: default;
			color: #807d7e;
		}
	}
}
