@import '../../styles/mixins';

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: toRem(10);

	&:not(:first-child) {
		margin-top: toRem(20);
	}

	@media (max-width: $mobileSmall) {
		justify-content: space-evenly;
	}
}

.pagesInfo {
	color: var(--dark-color);
	font-family: var(--causten);
	font-size: toRem(18);
	font-weight: 500;
	line-height: normal;
	@media (min-width: $mobileSmall) {
		display: none;
	}
}
.buttonsWrapper {
	display: none;
	@media (min-width: $mobileSmall) {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: toRem(10);
	}
}

.button {
	padding: toRem(8);
	min-width: toRem(35);
	border: toRem(1) solid var(--main-color);
	background-color: #fff;
	cursor: pointer;
	border-radius: toRem(5);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: toRem(5);
	transition: background-color 0.2s;
	color: var(--dark-color);
	font-family: var(--causten);
	font-size: toRem(18);
	font-weight: 500;
	line-height: normal;
	@media (any-hover: hover) {
		&:hover:not(.active) {
			border-color: var(--purple-color);
			color: var(--purple-color);
		}
	}

	&.active {
		background-color: var(--purple-color);
		color: #fff;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;

		@media (any-hover: hover) {
			&:hover {
				border-color: var(--main-color);
				color: var(--main-color);
			}
		}
	}
}
