@import '../../../styles/mixins';

.label {
	display: grid;
	gap: toRem(18);
	color: #8a8989;
	font-weight: 600;
	justify-items: center;
	align-items: center;
	cursor: pointer;

	span {
		border-radius: toRem(12);
		width: toRem(37);
		aspect-ratio: 1 / 1;
		transition: all 0.3s;
	}

	&:has(input:focus-visible) {
		outline: toRem(2) solid #000;
		border-radius: toRem(2);
	}

	&:has(input:checked) {
		color: #000;
		& span {
			transform: scale(0.9);
		}
	}
	@media (any-hover: hover) {
		&:hover {
			text-decoration: underline;
			&::before {
				transform: scale(1.05);
			}
		}
	}
}
.input {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
}
