@import '../../../styles/mixins';

.catalog {
	// .catalog__main
	&__main {
		@include adaptiveValue('margin-bottom', 100, 40);
	}
	// .catalog__container
	&__container {
		display: flex;
		align-items: flex-start;
		@media (max-width: toEm(991.98)) {
			display: block;
		}
	}
	// .catalog__filter
	&__filter {
		flex: 0 0 toRem(295);
	}
	// .catalog__body
	&__body {
		flex: 1 1 auto;
		@include adaptiveValue('padding-left', 50, 20, 2, $containerWidth, 992);
		@include adaptiveValue('padding-right', 50, 20, 2, $containerWidth, 992);

		@include adaptiveValue('padding-top', 50, 30);
		@include adaptiveValue('padding-bottom', 50, 30);
	}
	// .catalog__header
	&__header {
		display: flex;
		justify-content: space-between;
		gap: toRem(15);
		flex-wrap: wrap;
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 50, 20);
		}
	}
	// .catalog__title
	&__title {
		color: var(--dark-color);
		font-size: toRem(22);
		font-weight: 600;
	}
	// .catalog__type
	&__type {
	}
	// .catalog__items
	&__items {
		display: grid;
		column-gap: toRem(24);
		@include adaptiveValue('row-gap', 50, 24);
		grid-template-columns: repeat(auto-fill, minmax(toRem(250), 1fr));
	}
	// .catalog__description
	&__description {
		@include adaptiveValue('margin-bottom', 100, 40);
	}
	// .catalog__best-price
	&__best-price {
		@include adaptiveValue('margin-bottom', 100, 40);
	}
}
.type-catalog {
	display: flex;
	column-gap: toRem(25);
	row-gap: toRem(10);
	// .type-catalog__item
	&__item {
	}
	// .type-catalog__button
	&__button {
		@extend .catalog__title;
		transition: all 0.3s;
		// .type-catalog__button--active
		&--active {
			color: var(--purple-color);
		}
		@media (any-hover: hover) {
			&:hover {
				color: var(--purple-color);
			}
		}
	}
}
.description-catalog {
	// .description-catalog__container
	&__container {
	}
	// .description-catalog__title
	&__title {
		@include adaptiveValue('margin-bottom', 30, 20);
	}
	// .description-catalog__body
	&__body {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 25, 15);
		}
		p {
			@include adaptiveValue('font-size', 20, 16);
			line-height: 167.5%; /* 33.5/20 */
			&:not(:last-child) {
				@include adaptiveValue('margin-bottom', 20, 10);
			}
		}
		strong {
			font-weight: 700;
		}
		h3 {
			font-family: var(--core-sans);
			font-weight: 700;
			@include adaptiveValue('font-size', 20, 16);
			line-height: 167.5%; /* 33.5/20 */
			&:not(:last-child) {
				@include adaptiveValue('margin-bottom', 25, 15);
			}
		}
		a {
			text-decoration: underline;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
		// ...
	}
	// .description-catalog__see-more
	&__see-more {
		display: inline-block;
		font-weight: 700;
		transition: all 0.3s;
		@include adaptiveValue('font-size', 20, 16);
		line-height: 167.5%; /* 33.5/20 */
		@media (any-hover: hover) {
			&:hover {
				color: var(--purple-color);
			}
		}
	}
}

.best-price {
	// .best-price__container
	&__container {
	}
	// .best-price__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 70, 20);
		}
	}
	// .best-price__table
	&__table {
		/*
		@media (max-width: toEm(600)) {
			overflow: auto;
		}
		*/
		@media (max-width: toEm(767.68)) {
			margin: 0 toRem(-15);
		}
	}
}
.table-best-price {
	border-radius: toRem(12);
	overflow: hidden;
	background-color: var(--lite-color);
	width: 100%;
	border-collapse: collapse;
	// min-width: toRem(600);

	@media (max-width: toEm(767.68)) {
		border-radius: 0;
	}
	tr {
		&:nth-child(1) {
			td {
				@include adaptiveValue('padding-top', 50, 15);
			}
		}
		&:last-child {
			td {
				@include adaptiveValue('padding-bottom', 50, 15);
			}
		}
	}
	th {
		color: var(--dark-color);
		font-family: var(--core-sans);
		@include adaptiveValue('font-size', 24, 16);
		font-weight: 700;
		line-height: 139.583333%; /* 33.5/24 */
		@include adaptiveValue('padding-top', 50, 15);
		@include adaptiveValue('padding-bottom', 50, 15);
		@include adaptiveValue('padding-left', 70, 15);
		@include adaptiveValue('padding-right', 70, 15);
		text-align: left;
		border-bottom: toRem(1) solid rgba(190, 188, 189, 0.4);
		&:not(:last-child) {
			border-right: toRem(1) solid rgba(190, 188, 189, 0.4);
		}
		&:first-child {
			width: 78%; /* 984/1240 */
		}
	}
	td {
		line-height: 120%;
		@include adaptiveValue('font-size', 24, 16);
		@include adaptiveValue('padding-left', 70, 15);
		@include adaptiveValue('padding-right', 70, 15);
		@include adaptiveValue('padding-top', 25, 7.5);
		@include adaptiveValue('padding-bottom', 25, 7.5);
		&:not(:last-child) {
			border-right: toRem(1) solid rgba(190, 188, 189, 0.4);
		}
	}
}

.filter {
	border-right: toRem(1) solid #bebcbd;
	@media (max-width: toEm(991.98)) {
		border-left: toRem(1) solid #bebcbd;
	}
	// .filter__title
	&__title {
	}
	&__button-title {
	}
	// .filter__body
	&__body {
	}
}
.section-filter {
	// .section-filter__body
	&__body {
		position: relative;
		padding: toRem(35) toRem(30);
		border-bottom: toRem(1) solid #bebcbd;
		// max-height: 0;
	}
	// .section-filter__menu
	&__menu {
	}
	// .section-filter__title
	&__title {
	}
	// .section-filter__price
	&__price {
	}
	// .section-filter__size
	&__size {
	}
	// .section-filter__style
	&__style {
	}
}
.title-filter {
	&.active {
		.title-filter__button:not(.title-filter__button--main)::before {
			transform: rotate(-180deg);
		}
	}
	// .title-filter__button
	&__button {
		border-bottom: toRem(1) solid #bebcbd;
		padding: toRem(20) toRem(30);
		gap: toRem(15);
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		font-size: toRem(22);
		font-weight: 600;
		transition: all 0.3s;

		@media (any-hover: hover) {
			&:hover {
				color: #000;
			}
		}
	}
}
.menu-filter {
	// .menu-filter__list
	&__list {
	}
	// .menu-filter__item
	&__item {
		&:not(:last-child) {
			margin-bottom: toRem(18);
		}
	}
}
.price-filter {
	// .price-filter__range
	&__range {
		&:not(:last-child) {
			margin-bottom: toRem(32);
		}
	}
	// .price-filter__inputs
	&__inputs {
		display: flex;
		gap: toRem(30);
	}
	// .price-filter__input
	&__input {
		height: toRem(30);
		text-align: center;
		border-radius: toRem(8);
		color: var(--dark-color);
		font-weight: 500;
		border: toRem(1) solid #bebcbd;
	}
}
.colors-filter {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: toRem(18);
}
.size-filter {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
	gap: toRem(20);
}
