:root {
	/*====================== Colors ========================*/
	--main-color: #807d7e;
	--dark-color: #3c4242;
	--purple-color: #8a33fd;
	--lite-color: #f6f6f6;

	--causten: 'Causten', sans-serif;
	--core-sans: 'CoreSans', sans-serif;
}
